@import "tailwindcss";

/*custom breakpoints*/
@theme {
  --breakpoint-xs: 22.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --gold-main: #F3BA20;
  --gold-secondary: #F1D487;
  --recipe-paper:#F8EED2;
  --btn-main: #4B9EBF;
  --btn-main-clicked: #347893;
  --btn-second: #BF6415;
  --btn-second-clicked: #8F4B10;
  --btn-delete: #F22727;

}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: black;
    background-color: var(--gold-secondary);
}

h1, h2, h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;/*32px*/
}

h2 {
  font-size: 1.75rem;/*28px*/
}

h3 {
  font-size: 1.5rem;/*24px*/
}

ol, ul {
  list-style: revert;
  padding: 10px 0 10px 40px;
}

ol li, ul li {
  margin-bottom: 10px;
}
Header {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  /*font-size: tailwin managed*/
  font-style: normal;
  background-color: var(--gold-main);
  height: auto;
  margin-bottom: 51px;
}

Header h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

main {
  max-width: 767px;
  height: auto;/*auto*/
  margin: 0px auto;
  /*outline: 1px solid white;*/
  margin-bottom: 51px;
}
input {
  font-size: 1.5rem;
  background-color: white;
  width: 472px;
  height: 71px;
  margin-right: 20px;
  border-radius: 7px;
  padding: 8px;
}
button {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 7px; 
}

i {
  padding-right: 8px;
}
details p, details summary {
  cursor: pointer;
  color: #36454F;
}

hr {
  border: 3px solid var(--btn-second);
}

p {
  color: #36454F;
  margin-bottom: 2.5rem;/* >4 ingredients(4.5rem = 72px)*/
}

details ol{
  border: 2px solid black;
  border-radius: 7px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-top: 17px;
}
.btn-add {
  width: 275px;
  height: 71px;
  background-color: var(--btn-main);
  cursor: pointer;
  border-bottom: 6px solid var(--btn-main-clicked);
  border-left: 6px solid var(--btn-main-clicked);
}
.btn-add:hover {
  background-color: var(--btn-main-clicked);
  border: none;
}
.btn-get {
  width: 275px;
  height: 71px;
  background-color: var(--btn-second);
  cursor: pointer;
  border-bottom: 6px solid var(--btn-second-clicked);
  border-left: 6px solid var(--btn-second-clicked);
}

.btn-get:hover {
  background-color: var(--btn-second-clicked);
  border: none;
}

.btn-get:disabled {
  background-color: var(--btn-second-clicked);
  opacity: 0.6;
  cursor: not-allowed;
  border: none;
}
.btn-delete {
  font-size: 1rem;
  color: #8F4B10;
  display: inline-block;
  margin-left: 1.5rem;
  opacity: .5;
}
.btn-delete:hover {
  color: var(--btn-delete);
  opacity: 1;
}

.btn-refresh {
  display: block;
  margin: 0 auto;
  color: grey;
  padding: 0 24px;
  border: 3px solid var(--recipe-paper);
}
.btn-refresh:hover {
  color: #F22727;
  border: 3px solid #F22727;
}
.info-wrappper {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.recipe-container {
  background-color: var(--recipe-paper);
  padding: 20px 24px;
  border-radius: 7px;
}
.recipe-container h2 {
  line-height: 28px;
  font-size: 2rem;
  font-weight: 400;
}

.recipe-container h3 {
  font-size: 1.5;
}
.flex-me {
    display: flex;
}

/*phone size*/
@media screen and (max-width: 600px) {
  Header {
  height: auto;
  margin-bottom: 7px;
  }

  main {
    max-width: 95%;
    min-width: 328px;
  }

  input {
    min-width: 328px;
    max-width: 95%;
    margin: 0;
  }
  
  .btn-add {
    min-width: 328px;
    max-width: 95%;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .btn-get {
    min-width: 294px;
    align-items: center;
  }

  .flex-sauce {
    @apply flex-wrap gap-y-4;
  }

}/*end of @meda */